/* Home.css */

/* Fondo degradado y estilo general para el contenedor */
.home-container {
  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Estilos para las tarjetas */
.card {
  border: none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

/* Botones con colores vibrantes */
.btn-primary {
  background-color: #ff6f61;
  border-color: #ff6f61;
}

.btn-primary:hover {
  background-color: #ff3b2e;
  border-color: #ff3b2e;
}

/* Tipografía y estilo para títulos */
h1,
h2,
h3 {
  font-family: 'Fredoka One', sans-serif;
  color: #ff6f61;
}